a {
    text-decoration: none;
    /* forma horizontal */
    display: inline;
    color: black;
}
body {
    margin: 0;
    padding: 0;
}
.grid-container {
    max-width: 980px;
    margin: auto;
}
header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfac;
}
header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;  
}
header .header-icons-container .icons img {
    width: 28px;
    height: 28px;
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}
nav .nav-logo-container {
    margin-left: 50px;
}
nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
nav .nav-logo-container img {
    margin-top: 10px;
    width: 220px;
}
nav .profile-link a {
    color: black;
    border-bottom: 1px solid black;
}

.blogpost-img-container {
    padding: 0 50px 40px;
}
.blogpost-img-container img {
    width: 100%;
}
.blogpost-main-container {
    padding: 0 50px 40px;
}
.blogpost-main-container h3 {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
.blogpost-main-container h1 {
    font-size: 35px;
}
.blogpost-main-container p {
    text-align: justify;
}

footer{
    width: 100%;
    height: 80px;
    background-color: black ;
    border-top: 35px solid #47cfac;
}
footer p {
    color: white;
    text-align: center;
}
.contact-main-container {
    width: 100%;
    height: 120px;
    background-color: #e6e9ed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    min-width: 320px;
}
.contact-main-container img {
    width: 80px;
    height: 80px;
}
.contact-main-container a {
    font-size: 10px;
    border-bottom: 1px solid black;
}
.contact-main-container p {
    font-size: 10px;
}
.contact-main-container .contact-left  {
    display: flex;
    justify-items: center;
    align-items: center;
}
.contact-main-container .contact-right  {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 5px;
}